<li <%= this %>>
  <input <%= plugin('colorPicker') %> class="color" value="<%= color %>" />
  <span <%= EditableText %>
        class="name"
        style="background-color: <%= color %>"><%= name %></span>
  <%= balance %>
  <a href='javascript://' class="destroy">X</a>
</li>
