<li <%= this %> class="rounded" style="background-color: <%= color %>">
  <table><tr>
      <td><input <%= ColorPicker %> class="color" value="<%= color %>" /></td>
      <td><a href='javascript://' class="destroy">X</a></td>
      <td style="width: 100%"><span <%= EditableText %> class="name"><%= name %></span></td>
      <td><span class="balance"><%= balance %>&nbsp;€</span></td>
  </tr></table>
</li>
