<li <%= this %>>
  <input class="color" name="color1" type="text" value="<%= color %>" />
  <span class="name" style="background-color: <%= color %>"><%= name %></span> <%= balance %>
  </span>
  <a href='javascript://' class='destroy'>X</a>
</li>
