<tr>
	<td>
		<input class="colorPicker" id="color<%=person.accessKey %>" name="color<%=person.accessKey %>" value="<%= person.color %>" <%= person %>>
	</td>
	<td><div style="background-color:<%= person.color %>;"><%= person.name %></div></td>
	<td><%= person.balance %></td>
</tr>
